body {
    background-color: black;
    margin: 0;
    padding-top: 5vh;
    color: white;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 24px;
}

#topnav-placeholder {
    font-size: 18px;
}

/* topnav */

#topnav-placeholder {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 10vh;
    z-index: 1;
}

#topnav-placeholder > #topnav.active {
    z-index: 999;
}

/* Scroll Images */

.scroll-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin-bottom: -2vh;
}

.image-container {
    position: relative;
}

.image-text-centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Images (Sources) */

#image-earth {
    background-image: url(/assets/The_Blue_Marble.jpg);
}

#image-umfrage {
    background-image: url(/assets/umfrage.jpg);
}

#image-neues_leben {
    background-image: url(/assets/neues_leben.jpg);
}

#image-schutzschild {
    background-image: url(/assets/erde-schutzschild.png);
}

#image-ozonloch {
    background-image: url(/assets/ozonloch_2006.png);
}

/* MISC */

#big-whitespace {
    background-color: aqua;
    height: 1000vh;
}

.slide {
    background-color: #8a2be2;
    margin: 12px;
    margin: 0.1em;
    padding: 6px;
    padding: 0.2em;
    padding-left: 36px;
    padding-left: 0.75em;
    border-radius: 8px;
    min-height: 90vh;
    max-height: 100vh;
    font-size: 36px;
    font-size: 1.5em;
    position: sticky;
    top: 5px;
    border: 1px solid black;
    z-index: 1;
}


.first-slide {
    font-size: 2em;
}

.first-slide > .slide-title {
    margin-bottom: 0;
    margin-top: 2em;
}

.first-slide > .slide-author {
    margin: 0;
    font-size: 0.75em;
}

.slide > li {
    float: left;
    margin-left: 1.5em;
    width: fit-content;
}

.slide > li:hover {
    background-color: #83E22B;
}

.slide > .indent {
    margin-left: 10vw;
}

.last-slide > .slide-title{
    text-align: center;
    margin-top: 2em;
}

.slide > p > .highlight-correct {
    background-color: green;
}

.slide-umfrage {
    text-align: center;
}

/***** SURVEY VISUALISATION *****/

.slide > table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
}

/* doesn't recognize with .slide > td; thus 1em not exactly accurate? */
td {
    width: 100px;
    height: 1em;
    padding: 0;
}

/* Rainbow colors: red, orange, yellow, green, blue, indigo, violet*/

/* [1] */
#survey-age-17 {
    background-color: red;
    width: 50%;
}

#survey-age-18 {
    background-color: orange;
    width: 50%;
}

/* [2] */
#survey-ozon-02 {
    background-color: red;
    width: 33.3%;
}

#survey-ozon-03 {
    background-color: orange;
    width: 66.6%;
}

/* [4] */
#survey-bildung-plus {
    background-color: red;
    width: 16.6%;
}

#survey-bildung-mid {
    background-color: orange;
    width: 33.3%;
}

#survey-bildung-minusminus {
    background-color: yellow;
    width: 50%;
}

/* [8] */
#survey-height-10to25 {
    background-color: red;
    width: 40%;
}

#survey-height-15to30 {
    background-color: orange;
    width: 40%;
}

#survey-height-20to35 {
    background-color: yellow;
    width: 20%;
}

/* [9] */
#survey-emissions-600to700TT {
    background-color: red;
    width: 20%;
}

#survey-emissions-500to600MioT {
    background-color: orange;
    width: 20%;
}

#survey-emissions-700to800MioT {
    background-color: yellow;
    width: 40%;
}

#survey-emissions-700to800MrdT {
    background-color: green;
    width: 20%;
}

/* [11] */
#survey-rescue-yes {
    background-color: red;
    width: 80%;
}

#survey-rescue-no {
    background-color: orange;
    width: 20%;
}

/* */
#retrospective-visualisation::after {
    content: '\2713';
    display: inline-block;
    color: greenyellow;
    padding: 0 6px 0 0;
  }

@media only screen and (max-width: 680px) {

    body {
        font-size: 12px;
    };
    
    .first-slide {
        font-size: 1em;
    }

    .first-slide > .slide-title {
        margin-bottom: 0;
        margin-top: 15%;
    }

    .slide > li {
        margin-bottom: 0.5em;
    }


}